# Secrets / APIs keys
.env
.streamlit/secrets.toml

# Vector database storage
chroma_db/

# Python Virtual Environment
venv/
.venv/
__pycache__/
*.pyc

# Local system files
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
*.spec
crash.log

# Frontend build artifacts
frontend/out/
frontend/.next/
frontend/node_modules/
