langchain
langgraph
langchain-google-genai
langchain-openai
langchain-community
chromadb

pydantic
sentence-transformers
pypdf
fastapi
uvicorn
python-dotenv
python-multipart
python-docx
openpyxl
python-pptx
